
  <h1 class="h4 titulo mb-2">Pesquisa de Campeonatos</h1>
<p *ngIf="!campeonatos">Carregando Campeonatos...</p>

<button class="btn btn-primary mb-2" (click)="adicionarCampeonato()">Adicionar Campeonato</button>
<table class="table table-hover" *ngIf="campeonatos">
  <thead>

    <tr>
      <th>Nome</th>
      <th>Flyer</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of campeonatos">
      <td style="width:50%;vertical-align: middle !important;">{{c.nome}}</td>
      <td>
        <img  style="width:40%; min-width: 120px;" src="../../../../../arquivos/{{c.nomeArquivo}}" *ngIf="c.nomeArquivo" alt="Flyer do campeonato" />
      </td>
      <td><button class="btn btn-success btn-sm" (click)="editarCampeonato(c)">Editar</button></td>
      <td><button class="btn btn-danger btn-sm" (click)="deletarCampeonato(c)">Deletar</button></td>
    </tr>
  </tbody>
</table>
