
<h1 class="h4 titulo mb-2">Competidores inscritos no Campeonato {{campeonato.nome}}</h1>
<p *ngIf="!competidores">Carregando Competidores...</p>
<table class="table table-hover" *ngIf="competidores">
  <thead>

    <tr>
      <th>Nome</th>
      <th>Status</th>
      <!--<th>Fase</th>-->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of competidores">
      <td>{{c.usuario.nome}}</td>
      <td  >
        {{c.statusInscricao.nome}}
      </td>

      <!--<td *ngIf="c.statusInscricao.id === 2">
        <select class="custom-select" id="inputGroupSelect01" (change)="selecionaFase($event.target.value, c.id)">
          
          <option value="0" selected>selecione</option>

          <option *ngFor="let f of fases" value="{{f.id}}" id="{{f.id}}">{{f.nome}} - {{f.data  | date: 'dd/MM/yyyy' }}</option>

        </select>
        
      </td>-->

      <td>
        <button class="btn btn-secondary btn-sm mr-3"   (click)="confirmarInscricao(c, 1)">Confirmar Inscrição</button>
       
        <button class="btn btn-danger btn-sm" (click)="confirmarInscricao(c, 3)">Cancelar Inscrição</button>
        
      </td>

      <!--<td  *ngIf="c.statusInscricao.id === 2"></td>-->
    </tr>
  </tbody>
</table>
