<h1 class="h4">Cadastro de Campeonato</h1>

<label class="sr-only" for="inputNome">Nome</label>
<input type="text" id="inputNome"
       name="nomeCampeonato"
       placeholder="Nome do Campeonato"
       class="form-control mb-2 col-md-4"
       [ngClass]="{
       'is-invalid': nome.invalid && (nome.dirty || nome.touched),
       'is-valid': nome.valid && (nome.dirty || nome.touched)


       }"
       [(ngModel)]="campeonato.nome"
       #nome="ngModel"
       required />
<div class="invalid-feedback mb-2" *ngIf="nome.invalid &&  (nome.dirty || nome.touched)">
  <div *ngIf="nome.errors.required">
    Nome do campeonato é de preenchimento obrigatório

  </div>
</div>

<div class="input-group mb-2" >
  <div class="custom-file col-md-4">
    <input type="file" id="inputFile" class="custom-file-input" (change)="inputChange($event.target.files)"/>
    <label for="inputFile" class="custom-file-label">Escolha uma foto para o campeonato </label>

  </div>
</div>

<button class="btn btn-primary mb-2" (click)="cadastrar()" [disabled]="ativar_spinner">
  <span class="spinner-border spinner-border-sm" *ngIf="ativar_spinner"></span>
  Cadastrar
</button>
<div class="alet alert-danger col-md-4" *ngIf="mensagem">
  {{mensagem}}

</div>
